/* desktop */
@media only screen and (max-width: 1920px) {
  body {
    margin: 0;
    width: 100%;
    height: fit-content;
  }
  nav {
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    background-color: #e4e4e493;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
  }
  nav a {
    font-family: "Archivo", sans-serif;
    color: black;
    font-size: 3vh;
    font-weight: bold;
    text-decoration: none;
    padding: 1vh;
  }
  nav a:hover {
    color: rgb(0, 6, 83);
  }
}
#header {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #4d6569;
}
.content {
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}
.info {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: 70% 1fr;
  grid-template-columns: 50% 1fr;
  gap: 0;
}
.list {
  width: 80%;
  font-family: "Archivo", sans-serif;
  margin-left: auto;
  margin-right: auto;
  list-style: inside;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 3vh;
}
#selfie {
  width: 70%;
  height: 100%;
  margin-left: 1vh;
  border: 3px rgb(23, 32, 83) dotted;
}
#footer {
  height: fit-content;
  background-color: #9cbb96;
}

#h4 {
  font-family: "Archivo", sans-serif;
  font-size: 4vh;
  font-weight: 500;
  color: #000000;
  text-align: center;
  padding-top: 1vh;
}
#h3 {
  font-family: "Archivo", sans-serif;
  font-size: 3vh;
  color: rgb(29, 29, 29);
}
.h2,
#h2 {
  font-family: "Archivo", sans-serif;
  font-size: 3vh;
  color: rgb(29, 29, 29);
}
#h1 {
  font-family: "Archivo", italic;
  font-weight: 700;
  font-size: 8vh;
  color: #161616;
  text-decoration: underline 2px;
}
#p {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  padding: 1vh;
  background-color: rgba(255, 255, 255, 0.322);
  border: 1px solid rgba(97, 97, 97, 0.425);
  z-index: 0;
}
#desc {
  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;

}
br {
  display: block;
}
#submit {
  background-color: #ffffff;
  font-weight: 400;
  width: 22vw;
  height: 4vh;
}
#submit:hover {
}
#form {
  width: 80%;
  background-color: #ffffff88;
  padding: 1vh;
}
.form-group {
  padding: 1vh;
  margin: auto;
}

.bi {
  color: #204C55;
  margin: 0;
}
.gallery {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#bild{
  height: 35vh;
  width: 100%;
  border-bottom: 1px solid grey;
  }
  .row-cols-2{
    margin-bottom: 1vh;
    box-shadow: 1px 1px 3px rgba(117, 117, 117, 0.37);
  }
/* tablet */
@media only screen and (max-width: 900px) {
  #nav {
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    border-radius: 0;
  }
  #header {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    top: 5vh;
  }
  .title {
    z-index: 3;
    width: 100%;
    height: 40vh;
    display: inline-block;
    top: 0;
    box-sizing: border-box;
  }
  #selfie {
    width: 30vh;
    height: 30vh;
    margin: auto;
  }
  .content {
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
  }
  .list {
    width: 100%;
    margin: 0;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .title {
    display: flex;
    flex-direction: column;
    z-index: 10;
  }

  #footer {
    height: 40vh;
    overflow: hidden;
}
  #submit {
    border: 2px solid #ffbffa;
    box-shadow: 0px 3px 0px rgb(38, 73, 50);
  }
}
/* mobiler */
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  nav {
    width: 100%;
    height: 8vh;
    top: 0;
    position: fixed;
    border-radius: 0;
    border-bottom: 1px solid rgb(41, 41, 41);
    z-index: 20;
  }
  .content {
    width: 100%;
    height: fit-content;
  }
  .form-group {
    width: 100% !important;
    margin-bottom: 1vh;
  }
  .form{
    height: 30vh;
    font-family: "Archivo", sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    z-index: 5;
  }
  }
  #submit {
    margin-left: auto;
    margin-right: auto;
  }
  #submit:hover {
    background-color: none;
  }
  #lotus {
    width: 80vw;
    height: 40vh;
    position: absolute;
    z-index: -1;
    display: block;
    margin-top: 2vh;
    right: 50%;
    opacity: 70%;
  }
  .gallery {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  #bild{
    height: 35vh;
    width: 100%;
    border-bottom: 1px solid grey;
    }
    .row-cols-2{
      border: 1px solid grey;
      margin-bottom: 1vh;
    }

    .list-group{
      display:inline-block;
    width: 90%; 
     }
     



* {
  outline: 0px solid red;
}
svg {
  width: 100%;
  height: 40vh;
  opacity: 0%;
  z-index: 2;
}
.background {
  width: 100%;
  height: 50vh;
  position: absolute;
  z-index: 1;
  background-image: url(bilder/fish.png);
  background-size: 100% 100%;
}
.main {
  overflow: hidden;
  overflow-x: hidden;
}
#cursive {
  font-family: "Cedarville Cursive", cursive;
  z-index: 5;
}
p {
  font-family: "Archivo", sans-serif;
  line-height: 4vh;
  margin-top: 10vh;
  color: #000000;
}
#footerBackground{
  background-image: url(bilder/footerlotus.png);
  background-size:cover;
  background-position: bottom;
  height: 100%;
}
#ikon{
  width: 20vw; height: 10vh;
}